@font-face {
    font-family: "IRANSans";
    src: url("./libs/fonts/IRANSans.eot") format("embedded-opentype"), url("./libs/fonts/IRANSans.ttf") format("truetype"), url("./libs/fonts/IRANSans.woff") format("woff"), url("./libs/fonts/IRANSans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: IRANSans, sans-serif;
}

.container {
    width: 95% !important;
    background-color: #f8f9fa !important;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 50px auto;
}

.slider-container {
    width: 90%;
    margin: 0 auto 50px;
}